version: 2

jobs:
  prep:

    docker:
      - image: circleci/openjdk:11-jdk

    working_directory: ~/fake-user-app

    steps:
      - checkout
      - run: cd ~
      - run: mkdir fake-user-app

      - restore_cache:
          keys:
            - fake-user-dependencies-{{ checksum "pom.xml" }}

      - run: mvn clean install

      - save_cache:
          paths:
            - ~/.m2
          key: fake-user-dependencies-{{ checksum "pom.xml" }}

      - persist_to_workspace:
          root: ~/fake-user-app
          paths:
            - .

  docker-image-create-and-push:

    machine: true

    steps:
      - attach_workspace:
          at: ~/fake-user-app
      - run:
          name: Go to app location
          command: cd ~/fake-user-app
      - run:
          name: Create Docker image
          command: docker build -t 309373202297.dkr.ecr.eu-central-1.amazonaws.com/fake-user-app:latest ~/fake-user-app
      - run:
          name: Login to ECR
          command: aws ecr get-login-password --region eu-central-1 | docker login --username AWS --password-stdin 309373202297.dkr.ecr.eu-central-1.amazonaws.com
      - run:
          name: Push the image to ECR
          command: docker push 309373202297.dkr.ecr.eu-central-1.amazonaws.com/fake-user-app:latest

  deploy:

    machine: true

    steps:
      - run:
          name: Execute Deployment Script
          command: |
            ssh -o "StrictHostKeyChecking=no" ubuntu@ec2-52-29-40-50.eu-central-1.compute.amazonaws.com <<'ENDSSH'
            /bin/bash bin/deploy_image.sh
            ENDSSH

workflows:

  version: 2

  build_and_deploy:
    jobs:
      - prep
      - docker-image-create-and-push:
          requires:
            - prep
      - deploy:
          requires:
            - docker-image-create-and-push
